@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";

@theme {
  /* Fuente personalizada */
  --font-wedding: "Great Vibes", cursive;
  /* Color personalizado (Azul Noche) */
  --color-wedding: #1d3557;
}